$color1: #fff;
$color2: #901108;
$color3: #303030;
@import "mixin";

.opaque-navbar {
    background-color: rgba(255,255,255,1);
   	transition: background-color .5s ease 0s;
	border-bottom: 0px;	
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
}
nav.navbar {
	background-color: #fff;
}
nav.navbar span{
	color: $color3;

	&:hover {
		color: lighten($color2, 6%);			
	}
}
.nav-link {
	color: $color2;
	&:hover {
		color: lighten($color2, 6%);
		border: 0.5px solid $color2;
		border-radius: 5px;
	}
	@include mQ(661px, 100px) {
		&:hover {
		border: none;
	}
}
}
 .nav-link .active{
	color: $color3;
	font-weight: 400;
}
		
		.navbar-toggler {
			color: $color2;
			&:focus {
				outline: none;
			}
		}
		
		

.nav-item:hover {
	@include mQ(661px, 100px) {
		border: none;
		border-left: 2px solid $color2;
		padding-left: 10px;
	}
}
.tagline {
	color: $color2;
}
.opaque-navbar .opaque{
    background-color: rgba(48,48,48,0.8);
	border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

		// .font-large {
		// 	font-weight: bolder;
		// 	font-size: 68px;
		// 	font-family: 'EB Garamond', serif;
		// 	@include mQ(661px, 100px) {
		// 		font-size: 48px;
		// 	}
		// }
		// .font-bold {
		// 	font-size: 50px;
			
		// 	font-weight: bold;
		// 	@include mQ(661px, 100px) {
		// 		font-size: 30px;
		// 	}
		// }
.nav-item:hover {
	-webkit-animation: pulse 3s;
    animation: pulse 3s;
}
.rubberBand:hover {
	-webkit-animation: rubberBand 3s;
    animation: rubberBand 3s;
}
#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:38px;
	line-height:1;
	font-family: 'Almendra', serif;
	letter-spacing: 2px;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 0px;
	@include mQ(661px, 100px) {
		font-size: 28px;

	}
}
.navbar-brand span b {
	display:block;
	font-size:50%;
	line-height:1;
	padding-left: 10px;
		@include mQ(661px, 100px) {
		font-size: 60%;
		padding-left: 0px;
	}
}
.navbar-nav {
	margin-left:auto;
}